// Colors

$primary: #05386b;
$secondary: #5cdb95;
$secondary-light: #edf5e1;
$secondary-dark: #379683;

$natural-dark: #5f5f5f;
$natural-light: #bdbdbd;

// fonts
@mixin heading-large {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@mixin small-heading {
  background: $natural-dark;
}

/* Button/Primary */

@mixin buttonprimary {
  display: flex;
  flex-direction: column;
  padding: 22px 32px;
  background: $secondary;
  border-radius: 20px;
  text-align: center;
  font-weight: 400;
  color: white;
}

@mixin secondarybutton {
  position: absolute;
  // width: 144.39px;
  // height: 65px;
  // left: 58px;
  // top: 700px;
  background: #edf5e1;
  border-radius: 20px;
}

// Responsive size
$xs: 600px;

@mixin mobile {
  @media (max-width: #{$xs - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$xs}) {
    @content;
  }
}
